body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
}

.App {
    background-color: #EFF2F9;
    min-height: 100vh;
}

main {
    padding-top: 71px;
}

li {
    display: flex;
}

ul {
    padding: 0;
}

header {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
    height: 70px;
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #E5E3E8;
    border-top: 0;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
}

.button-top:hover {
    cursor: pointer;
    background-color: #F4F7FE;
    border-radius: 10px;
    color: #175BDD;
}

.button-top {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    pointer-events: none;
    margin-left: 20px;
}

.button-container-style {
    width: 80vw;
    display: flex;
    justify-content: center;
    gap: 1%
}

.container-style {
    width: 20vw;
}

.menu {
    display: none;
}

.header-container {
    height: 71px;
    align-items: center;
    display: flex;
}

.top-mobile-buttons {
    width: 100vw;
    justify-content: center;
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}

.top-active-mobile-buttons {
    width: 100vw;
    justify-content: center;
    display: flex;
    pointer-events: none;
    opacity: 0;
}

@media (max-width: 910px) {
    header {
        transition: height 1s;
    }

    .menu {
        display: flex;
    }

    .button-container-style {
        display: none;
    }

    .container-style, .logo {
        width: 50vw;
    }

    .active-header {
        height: 100vh;
        transition: height 1s;
        border-radius: 0;
    }

    .button-top {
        justify-content: left;
    }

    .top-active-mobile-buttons {
        pointer-events: auto;
        opacity: 1;
        transition: opacity 1s;
    }
}

.team-vacancy-card {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    border: 1px solid #E5E3E8;
}

.team-vacancy-card-image {
    flex: 0 0 200px;
}

.team-vacancy-card-image img {
    width: 100%;
    height: auto;
}

.team-vacancy-card-content {
    padding: 20px;
}

.team-vacancy-card-stack-list {
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap
}

.team-vacancy-card-stack-item {
    background-color: #F3F7FE;
    padding: 8px;
    color: #175BDD;
    border: 1px solid #175BDD;
    border-radius: 20px;
}

.team-vacancy-card-chat-link {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #00bcd4;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.team-vacancy-card-chat-link:hover {
    background-color: #0097a7;
}

.registration-form-container {
    align-items: center;
    display: flex;
    min-height: calc(100vh - 71px);
    width: 100vw;
}

.registration-form {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 36px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #E5E3E8;
    border-radius: 20px;
    align-items: center;
}

.registration-form__group, .active-registration-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1px;
}

.active-registration-form__group {
    border: 2px solid blue;
    padding: 0;
}

.registration-form__label {
    padding: 9px;
    opacity: .5;
    font-size: 14px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: text;
}

.registration-form__input {
    padding: 0 9px 9px;
    border-radius: 10px;
    border: 0;
}

.registration-form__input:focus{
    outline: none !important;
}

.registration-form__submit {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #175BDD;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    height: 60px;
}

.registration-form__submit:hover {
    background-color: #005fa3;
}


button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

button.pressed {
    transform: scale(0.95);
}
