.App {
    text-align: center;
    background-color: #EFF2F9;
    min-height: 1000px;
}

li {
    display: flex;
}

header {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.button-top:hover {
    cursor: pointer;
    background-color: #F4F7FE;
    border-radius: 10px;
    color: #175BDD;
}


.button-top {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    pointer-events: none
}
